# requirements.txt


pandas
numpy==1.23.5
seaborn
matplotlib
plotly
scipy
scikit-learn
torch
spacy
nltk
torchaudio
torchvision
# tensorflowf
keras
tf_keras
tensorboard

transformers
datasets
evaluate
huggingface-hub
peft
trl
tokenizers
safetensors
sentence-transformers==5.0.0

langchain-core
langchain-huggingface
langsmith
groq
requests
requests-toolbelt

zammad_py
zenpy

streamlit>=1.28.0

tqdm
matplotlib
pillow
python-dotenv
MarkupSafe
Jinja2
protobuf
pytz
regex
PyYAML
orjson
uv